:root {
  --background: #fafafa;
  --accent: #2153a6;
  --accent2: #a8743a;
  /* --accent2: #a15b00; */

  --text-primary: #0f172a;
  --text-secondary: #666666;
  --bg-secondary: #f5f5f5;
  --bg-tertiary: #f0f0f0;
  --button-bg: #111111;
  --button-text: #ffffff;
  --border-color: rgba(0, 0, 0, 0.05);

  --header-height: 70px;
  --box-shadow: 20px 20px 60px #e0e0e0, -20px -20px 60px #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d0f12;
    --accent2: #a8743a;
    --box-shadow: 20px 20px 60px #1a1a1a, -20px -20px 60px #000000;

    --text-primary: #e6e7e8;
    --text-secondary: #a1a7b3;
    --bg-secondary: #171717;
    --bg-tertiary: #262626;
    --button-bg: #ededed;
    --button-text: #000000;
    --border-color: rgba(255, 255, 255, 0.1);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: clip;
  scroll-behavior: smooth;
  line-height: 1.5;

  padding-top: var(--header-height);
}

body {
  background: var(--background);
  font-family: var(--font-plus-jakarta-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

#root,
#__next {
  isolation: isolate;
}
